@{
   ViewBag.Title = "Home";
}
<div class="col-md-6 col-md-offset-3">
   
   <div ><h2><center>Test of different ways to render widgets</center></h2></div>
   <div class="form-group"><a class="form-control btn btn-sm btn-success" href="/app/ngWidgets">ngWidgets and AngularJs</a></div>
   <div class="form-group"><a class="form-control btn btn-sm btn-success" href="/app/jqWidgets">jqWidgets and JQuery</a></div>
   <div class="form-group"><a class="form-control btn btn-sm btn-success" href="/app/jqxAngular">jqWidgets and JqxAngular</a></div>




</div>